<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.blog.dao.XppBrandVisualDao">

	<!--获取下载记录集合-->
	<select id="getUserDowmloadHistoryList" resultType="com.bootdo.blog.domain.XppBrandVisualDo">
		select f.`id`,x.`bvid`,x.`filename`,x.`author`,s.`username`,f.`downloadtime`
		from xpp_brand_visual x
		LEFT JOIN file_history f ON f.bvid = x.bvid
		LEFT JOIN sys_user s ON s.user_id = f.userid
		WHERE x.`status`='Y' AND f.id is not NULL
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by x.`bvid` desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit ${offset}, ${limit}
		</if>
	</select>

	<!--获取下载记录总数-->
	<select id="countUserDowmloadHistory" resultType="int">
		select count(*)
		from xpp_brand_visual x
		LEFT JOIN file_history f ON f.bvid = x.bvid
		LEFT JOIN sys_user s ON s.user_id = f.userid
		WHERE x.`status`='Y' AND f.id is not NULL
	</select>

	<!--文件下载记录-->
	<insert id="saveFileHistory" parameterType="com.bootdo.blog.domain.FileHistoryDo" useGeneratedKeys="true" keyProperty="id">
		insert into file_history
		(
		`bvid`,
		`userid`,
		`downloadtime`
		)
		values
		(
		#{bvid},
		#{userid},
		#{downloadtime}
		)
	</insert>

	<select id="get" resultType="com.bootdo.blog.domain.XppBrandVisualDo">
		select  `bvid`,`title`,`created`,`modified`,
			`content`,`type`,`tags`,`categories`,`hits`,
			`author`,`gtm_create`,`gtm_modified`,`fileurl`,`filename`,`status`
		from xpp_brand_visual where `bvid` = #{value} and `status`="Y"
	</select>

	<select id="getXppBarndVisualList" resultType="com.bootdo.blog.domain.XppBrandVisualDo">
		select `bvid`,`title`,`created`,`modified`,
		`content`,`type`,`tags`,`categories`,`hits`,
		`author`,`gtm_create`,`gtm_modified`,`fileurl`,`filename`,`status`
		from xpp_brand_visual
		<where>
			<if test="type != null and type != ''"> and status = "Y" </if>
			<if test="type != null and type != ''"> and type = #{type} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by bvid desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit ${offset}, ${limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from xpp_brand_visual
		<where>
			<if test="type != null and type != ''"> and status = "Y" </if>
			<if test="type != null and type != ''"> and type = #{type} </if>
		</where>
	</select>

	<insert id="save" parameterType="com.bootdo.blog.domain.XppBrandVisualDo" useGeneratedKeys="true" keyProperty="bvid">
		insert into xpp_brand_visual
		(
			`title`,
			`created`,
			`modified`,
			`content`,
			`type`,
			`tags`,
			`categories`,
			`hits`,
			`author`,
			`gtm_create`,
			`gtm_modified`,
			`fileurl`,
			`filename`,
			`status`
		)
		values
		(
			#{title},
			#{created},
			#{modified},
			#{content},
			#{type},
			#{tags},
			#{categories},
			#{hits},
			#{author},
			#{gtmCreate},
			#{gtmModified},
			#{fileurl},
			#{filename},
			#{status}
		)
	</insert>

	<update id="update" parameterType="com.bootdo.blog.domain.ContentDO">
		update xpp_brand_visual
		<set>
			<if test="title != null">`title` = #{title},</if>
			<if test="content != null">`content` = #{content},</if>
			<if test="categories != null">`categories` = #{categories},</if>
			<if test="author != null">`author` = #{author}, </if>
			<if test="gtmModified != null">`gtm_modified` = #{gtmModified},</if>
			<if test="fileurl != null">`fileurl` = #{fileurl},</if>
			<if test="filename != null">`filename` = #{filename}</if>
		</set>
		where `status` = "Y" and bvid = #{bvid}
	</update>

	<delete id="remove">
		update xpp_brand_visual set `status` = "N" where `bvid` = #{value}
	</delete>

	<delete id="batchRemove">
		update xpp_brand_visual set `status` = "N" where `bvid` in
		<foreach item="bvid" collection="array" open="(" separator="," close=")">
			#{bvid}
		</foreach>
	</delete>

</mapper>